NEXT_PUBLIC_SUPABASE_URL=https://bgecqghthqxdyozvbrjx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJnZWNxZ2h0aHF4ZHlvenZicmp4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEwOTg5MjUsImV4cCI6MjA5NjY3NDkyNX0.-5J6IjBEbGvx8cEq7KrBsJyrem4_oGHEUGGWLEEKbfk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJnZWNxZ2h0aHF4ZHlvenZicmp4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTA5ODkyNSwiZXhwIjoyMDk2Njc0OTI1fQ.-7UC0Rt_RMkn9Ow7ltQ3yKaWmqjXcAjdSkSiO-sfU4g
NEXT_PUBLIC_APP_URL=http://localhost:3000
